In [98]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

# NLP

## Предобработка

In [99]:
data=pd.read_csv('../data/spam.csv', encoding='ISO-8859-1')
data=data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
data

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [100]:
y = data["v1"]
X = data.drop("v1", axis=1)

In [101]:
a={"ham": 0,"spam": 1}
data["v1"]= data['v1'].map(a)
data

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [102]:
import spacy
from sklearn.feature_extraction.text import CountVectorizer

def creatLemms(x):
    nlp = spacy.load("en_core_web_sm")
    nlpfunc = nlp(x)
    data_lematized = [word.lemma_ for word in nlpfunc]
    word=""
    for i in data_lematized:
        word+=i+" "
    return word

words_list=[]
for i in range(data.shape[0]):
    words_list.append(data["v2"][i])
    
countVecotr = CountVectorizer(min_df=5, stop_words='english')

model = countVecotr.fit_transform(data['v2'])
model.shape

(5572, 1602)

In [103]:
words

,00,000,02,03,04,06,0800,08000839402,08000930705,0870,...,yogasana,yr,yrs,yun,yup,zed,ì_,ìï,û_,ûò
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
target=data["v1"]
target

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

In [105]:
data = pd.concat([target, words], axis = 1,ignore_index = True)
data.shape

(5572, 1603)

# Понижение размерности (SelectKBest)

In [106]:
from sklearn.feature_selection import  SelectKBest

skb = SelectKBest(k=5)
X_skb = skb.fit_transform(words, target)

print(words.shape)
print(X_skb.shape)

(5572, 1602)
(5572, 5)

# LDA

In [107]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.datasets import fetch_20newsgroups
n_samples = 2000
n_features = 1000
n_topics = 10
n_top_words = 20

In [108]:
def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic #%d:" % topic_idx)
        print(" ".join([feature_names[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))

In [109]:
lda = LatentDirichletAllocation(n_components=n_topics, max_iter=20,
                                learning_method='online',
                                learning_offset=50.,
                                random_state=0).fit(data)

In [110]:
lda.components_.shape

(10, 1603)

In [111]:
lda.transform(data).shape

(5572, 10)

In [112]:
print_top_words(lda, vect.get_feature_names_out(), 10)

Topic #0:
00 freemsg txtauction texting urawinner replying stopped high phones xchat
Topic #1:
okay lose liked watch askd cost london salary dunno tomo
Topic #2:
times hg didn imagine babes meeting yest weekend workin yahoo
Topic #3:
numbers activate shuhui 00 coffee earth selection looks meant 80062
Topic #4:
wanted needs juz plus telling saying surely messages month ring
Topic #5:
00 prob catch wonder class mobiles urgnt freemsg contacted cut
Topic #6:
gone honey knows dad ìï lets picked goto good waiting
Topic #7:
guaranteed luck comes goto ok green dollars juz liked wear
Topic #8:
lmao sort latest dont year seriously sending juz meh texting
Topic #9:
days goodmorning loved door urawinner december hard thinkin lift mother